html {
  font-family: Georgia, serif;
  background-color: #f3f3f3;
}

header {
  background-color: #000;
}

h1 {
  color: #fff;
}

body {
  width: 100%;
}

.nav {
  display: none;
  padding-left: 0;
  top: 40px;
  list-style-type: none;
}

.nav-label {
  cursor: pointer;
  width: 40px;
}

.nav-open,
.nav-close {
  width: 60%;
  background-color: #fff;
  transition: background-color 0.5s ease;
  padding: 4px;
  margin: 10px;
  border-radius: 4px;
}

.nav-close {
  display: none;
}

.nav-open:hover,
.nav-close:hover {
  background-color: #000;
}


.nav-check:checked ~ .nav {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-toggle {
  width: 35px;
  padding: .5rem;
  border: 2px solid grey;
  border-radius: 6px;
}

.nav-toggle:hover {
  background-color: grey;
  border: 2px solid grey;
}

.nav a {
  width: 100px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 1, .8);
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
}

.nav a:hover {
  background-color: transparent;
  color: #fff;
}

.banner {
  min-height: 300px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/store.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.slogan {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
}

.button {
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  -webkit-transform: translate(-50%, -80%);
}

.btn {
  font-family: Verdana, sans-serif;
  padding: 10px 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.btn:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

h2 {
  color: #fff;
}

.font {
  font-family: Rochester, cursive;
}

.sans-serif {
  font-family: Verdana, sans-serif;
}

section {
  background-color: #fff;
}

figcaption {
  display: none;
}

@media only screen and (min-width: 38em) {

  .contact {
    text-align: center;
  }

  .banner {
    height: 500px;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  h1 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  nav {
    padding: .65rem;
  }

  .nav {
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
    display: inline-block;
    float: right;
  }

  .nav li {
    display: inline-block;
  }

  .nav li a:hover {
    color: #000;
    background-color: #fff;
  }

  figcaption {
    display: block;
  }

  figure img {
    margin-bottom: 1.3rem;
  }
}

@media only screen and (min-width: 60em) {

  .banner {
    height: 720px;
  }

}
